MONGO_URL=mongodb+srv://user:pass@cluster.mongodb.net
MONGO_DB=gigasure
REDIS_URL=redis://localhost:6379/0
JWT_SECRET=gigsure-super-secret-key-2026-devtrails
OPENWEATHER_API_KEY=
NEWSDATA_API_KEY=
MOCK_ZOMATO_URL=http://localhost:8001
