fastapi
uvicorn[standard]
motor
pymongo
pydantic
python-dotenv
apscheduler
httpx
python-jose[cryptography]
shapely
scikit-learn
xgboost
matplotlib
joblib
pandas
numpy
spacy
transformers
torch
redis
accelerate
razorpay
mongomock-motor
fakeredis
